extends ./layout/index 

block slider
    div.slider 
         h1 Rio de Janeiro
         em Aventura

block contenido 
    main.container.mt-5 
        h2.text-center.mb-5 Sobre nosotros
        div.row.mb-5 
             div.col-md-6 
                 p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, odit aperiam. Optio, dignissimos. Eveniet velit porro, sed voluptatem inventore cum expedita, dolorum quidem hic numquam molestiae ipsam, unde suscipit nemo?
                 p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod adipisci officia asperiores sed explicabo veritatis temporibus et ad modi rem ipsum blanditiis molestias esse recusandae placeat nesciunt, provident unde debitis?
             div.col-md-6 
                 img(src="./img/inicio_nosotros.jpg", alt="imgen nosotros", class="img-fluid")
        include ./layout/bloque_viajes
    div.descuento 
        div.container 
             div.row 
                 div.col-md-5 
                     div.contenido 
                         h3 5% de Descuento 
                         p.titulo Viaje a Canada 
                         p.fecha Marzo de 2024 - Mayo 2024
                         p.precio $25,500 pelucholares
    div.container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales