extends ./layout/index 
 
block contenido 
    main.container.mt-5 
        div.row 
            div.col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nostros", class="img-fluid")
            div.col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt ea iste cupiditate expedita velit quos repellat mollitia quis modi iusto doloremque quia totam maiores minus, tempore nesciunt, tempora alias nostrum!

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde sed vero odit hic et quo sequi commodi? Explicabo et blanditiis tenetur illo voluptate ab nesciunt, id quod eum suscipit recusandae.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusantium, error deserunt perferendis ipsum mollitia reiciendis eius, nesciunt deleniti molestias ipsa optio autem eveniet. Obcaecati blanditiis commodi adipisci recusandae sapiente!
    
    
    div.listado-iconos 
        div.container.mt-5.py-5.text-center 
            div.row 
                div.col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid  mb-4") 
                    h2.mb-4 Seguridad
                    p.m-2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus distinctio labore a, voluptatum numquam praesentium modi sunt quod quibusdam. 

                div.row 
                div.col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono Destinos",class="img-fluid mb-4") 
                    h2.mb-4 Mejores Destinos
                    p.m-2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus distinctio labore a, voluptatum numquam praesentium modi sunt quod quibusdam. 


                div.row 
                div.col-md-4 
                    img(src="img/icono_precios.svg", alt="icono Precios",class="img-fluid  mb-4") 
                    h2.mb-4 Los mejores Precios
                    p.m-2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus distinctio labore a, voluptatum numquam praesentium modi sunt quod quibusdam. 

        
